NODE_ENV=test
PORT=3000

POSTGRES_HOST=localhost
POSTGRES_PORT=15432
POSTGRES_DB=supagen_test
POSTGRES_USER=supagen
POSTGRES_PASSWORD=supagen_test_password
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

VALKEY_HOST=localhost
VALKEY_PORT=16379
VALKEY_PASSWORD=supagen_test_password
VALKEY_URL=redis://default:${VALKEY_PASSWORD}@${VALKEY_HOST}:${VALKEY_PORT}
